
.bnt-header{
  color: #FFFFFF;
  background: #3BADFB;
  font-family:  "Poppins", sans-serif;
  width: 142px;
  height: 34px;
  top: 133px;
  left: 1318px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px; 
}